NODE_ENV=development

HOST=HOST
PORT=PORT

DB_HOST=DB_HOST
DB_PORT=DB_PORT
DB_DATABASE=DB_DATABASE
DB_USERNAME=DB_USERNAME
DB_PASSWORD=DB_PASSWORD

JWT_ACCESS_TOKEN_SECRET=jwt-access-token-secret
JWT_ACCESS_TOKEN_EXPIRATION=3600
JWT_REFRESH_TOKEN_SECRET=jwt-refresh-token-secret
JWT_REFRESH_TOKEN_EXPIRATION=3600

CACHE_TTL=60
CACHE_MAX=1000

REDIS_HOST=host
REDIS_PORT=port