<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail</title>
    <script
      src="https://cdn.socket.io/4.6.0/socket.io.min.js"
      integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h1></h1>
    <pre id="messages" style="height: 400px; overflow: scroll"></pre>
    <input
      type="text"
      id="messageBox"
      placeholder="입찰 가격을 입력하세요."
      style="display: block; width: 100%; margin-bottom: 10px; padding: 10px"
    />
    <button id="send" title="Send Message!" style="width: 100%; height: 30px">
      입찰
    </button>
    <button id="leave" title="Send Message!" style="width: 100%; height: 30px">
      나가기
    </button>

    <script>
      function isNumeric(input) {
        return !isNaN(input) && isFinite(input) && input !== '';
      }

      function getQueryParams() {
        const queryParams = {};
        const queryString = window.location.search.slice(1);
        const paramPairs = queryString.split('&');
        paramPairs.forEach((pair) => {
          const [key, value] = pair.split('=');
          queryParams[key] = decodeURIComponent(value);
        });
        return queryParams;
      }

      function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
        return null;
      }

      const queryParams = getQueryParams();
      const itemId = queryParams.itemId;
      const itemName = queryParams.itemName;
      const startDate = queryParams.startDate;
      const endDate = queryParams.endDate;

      if (itemName) {
        const h1Element = document.querySelector('h1');
        h1Element.innerHTML = `${itemName} 실시간 경매방<br>시작: ${startDate}<br>종료: ${endDate}`;
      }
    </script>

    <script>
      const sendButton = document.querySelector('#send');
      const leaveButton = document.querySelector('#leave');
      const messages = document.querySelector('#messages');
      const messageBox = document.querySelector('#messageBox');

      async function create(itemId) {
        try {
          const response = await fetch(`http://127.0.0.1:3000/rooms/${itemId}`);
          const data = await response.json();
          const roomId = data._id;

          const socket = io(`http://127.0.0.1:3000`, {
            withCredentials: true,
            extraHeaders: {
              access_token: getCookie('access_token'),
              session_id: getCookie('session_id'),
            },
            query: {
              item_id: itemId,
              room_id: roomId,
            },
          });

          socket.on('connect', () => {
            console.log('Connected to WebSocket server.');
          });

          socket.on('join', (data) => {
            showMessage(data);
          });

          socket.on('leave', (data) => {
            showMessage(data);
          });

          socket.on('message', (data) => {
            showMessage(data);
          });

          socket.on('disconnect', () => {
            console.log('Disconnected from WebSocket server.');
          });

          socket.on('error', (error) => {
            console.log(error.message);
            if (error && error.message) {
              if (error.message.startsWith('No room')) {
                showMessage('경매방이 존재하지 않습니다!');
                console.error('Room error:', error.message);
              } else if (error.message.startsWith('No item')) {
                showMessage('상품이 존재하지 않습니다!');
                console.error('Item error:', error.message);
              } else if (error.message.startsWith('Error joining')) {
                showMessage('경매방 입장 중 오류가 발생했습니다!');
                console.error('Joining error:', error.message);
              } else if (error.message.startsWith('Error leaving')) {
                showMessage('경매방 퇴장 중 오류가 발생했습니다!');
                console.error('Leaving error:', error.message);
              } else if (error.message.startsWith('Error sending')) {
                showMessage('입찰 중 오류가 발생했습니다!');
                console.error('Messaging error:', error.message);
              } else {
                showMessage('오류가 발생했습니다!');
                console.error('Generic error:', error.message);
              }
            }
          });

          sendButton.onclick = function () {
            if (socket.connected) {
              const messageContent = messageBox.value.trim();

              if (isNumeric(messageContent)) {
                socket.emit('message', {
                  content: messageContent,
                  roomId: roomId,
                  sessionId: getCookie('session_id'),
                });
                showMessage(`본인: ${messageBox.value}`);
              } else {
                showMessage(' 숫자만 입력할 수 있습니다!');
              }
            } else {
              showMessage('연결이 되어있지 않습니다!');
            }
          };

          leaveButton.onclick = function () {
            if (socket.connected) {
              socket.emit('leave', { roomId });
              window.history.back();
            } else {
              showMessage('연결이 되어있지 않습니다!');
            }
          };
        } catch (error) {
          showMessage('경매방이 존재하지 않습니다!');
          console.error('Room error: No room for this item.');
        }
      }

      create(itemId);

      function showMessage(message) {
        messages.textContent += `\n\n${message}`;
        messages.scrollTop = messages.scrollHeight;
        messageBox.value = '';
      }
    </script>
  </body>
</html>
