<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail</title>
    <script
      src="https://cdn.socket.io/4.6.0/socket.io.min.js"
      integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
      crossorigin="anonymous"
    ></script>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        background-color: #f0f0f0;
      }

      h1 {
        text-align: center;
      }

      #messages {
        height: 400px;
        overflow: scroll;
        width: 90%;
        max-width: 600px;
      }

      #messageBox {
        display: block;
        width: 90%;
        margin-bottom: 10px;
        padding: 10px;
        max-width: 600px;
      }

      #send,
      #leave {
        width: 90%;
        height: 30px;
        max-width: 600px;
      }
    </style>
  </head>
  <body>
    <h1></h1>

    <div id="bidInfoSection">
      <div id="bidInfo"></div>
      <div id="initialBidDisplay"></div>
    </div>

    <pre id="messages"></pre>
    <input type="text" id="messageBox" placeholder="입찰 가격을 입력하세요." />
    <button id="send" title="Send Message">입찰</button>
    <button id="leave" title="Leave Room">나가기</button>
    <div id="initialBidDisplay"></div>

    <script>
      function isNumeric(input) {
        return /^[1-9][0-9]*$/.test(input);
      }

      function getQueryParams() {
        const queryParams = {};
        const queryString = window.location.search.slice(1);
        const paramPairs = queryString.split('&');
        paramPairs.forEach((pair) => {
          const [key, value] = pair.split('=');
          queryParams[key] = decodeURIComponent(value);
        });
        return queryParams;
      }

      function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);

        if (parts.length === 2) {
          return parts.pop().split(';').shift();
        }

        return null;
      }

      const queryParams = getQueryParams();
      const itemId = queryParams.itemId;
      const itemName = queryParams.itemName;
      const initialBid = queryParams.initialBid;
      const startDate = queryParams.startDate;
      const endDate = queryParams.endDate;

      if (itemName) {
        const h1Element = document.querySelector('h1');
        h1Element.innerHTML = `${itemName} 실시간 경매방<br>시작: ${startDate}<br>종료: ${endDate}`;
      }

      const bidInfoSection = document.querySelector('#bidInfoSection');

      const initialBidDisplay = document.createElement('div');
      initialBidDisplay.innerHTML = `최저 입찰가: <span style="font-weight: bold; color: red;">${initialBid}원</span>`;
      bidInfoSection.appendChild(initialBidDisplay);
    </script>

    <script>
      function showMessage(message) {
        if (message === undefined) {
          return;
        }
        messages.textContent += `\n\n${message}`;
        messages.scrollTop = messages.scrollHeight;
        messageBox.value = '';
      }

      function showError(message) {
        const centerElement = document.createElement('div');
        centerElement.style.textAlign = 'center';
        const errorElement = document.createElement('div');
        errorElement.textContent = message;
        errorElement.style.color = 'red';

        const existingErrorElement = document.querySelector('#centeredError');
        if (existingErrorElement) {
          existingErrorElement.remove();
        }

        errorElement.id = 'errorMessage';
        centerElement.id = 'centeredError';
        centerElement.appendChild(errorElement);

        const messagesContainer = document.querySelector('#messages');
        messagesContainer.insertAdjacentElement('afterend', centerElement);
      }

      async function getHighestBid(itemId) {
        const response = await fetch(`http://127.0.0.1:3000/bids/${itemId}`);
        const bid = await response.json();

        return bid;
      }

      async function showBidStatus() {
        try {
          const bid = await getHighestBid(itemId);

          if (bid.hasOwnProperty('statusCode')) {
            throw new Error('No room for this item found.');
          }

          const price = bid.price;
          const name = bid.name;
          const email = bid.email;

          const bidInfo =
            price === 0
              ? `입찰 없음`
              : `최고 입찰가: ${price}원 - ${name}(${email})`;

          const centerElement = document.createElement('div');
          centerElement.style.textAlign = 'center';
          const bidInfoElement = document.createElement('div');
          bidInfoElement.textContent = bidInfo;
          bidInfoElement.style.fontWeight = 'bold';

          const existingCenterElement =
            document.querySelector('#centeredBidInfo');
          if (existingCenterElement) {
            existingCenterElement.remove();
          }

          bidInfoElement.id = 'bidInfo';
          centerElement.id = 'centeredBidInfo';
          centerElement.appendChild(bidInfoElement);

          const h1Element = document.querySelector('h1');
          h1Element.insertAdjacentElement('afterend', centerElement);
        } catch (error) {
          console.log(error);
          console.error('Bid error:', error.message);
        }
      }

      const sendButton = document.querySelector('#send');
      const leaveButton = document.querySelector('#leave');
      const messages = document.querySelector('#messages');
      const messageBox = document.querySelector('#messageBox');

      const accessToken = getCookie('access_token');
      const sessionId = getCookie('session_id');

      async function manageSocket(itemId) {
        try {
          const response = await fetch(`http://127.0.0.1:3000/rooms/${itemId}`);
          const data = await response.json();
          const roomId = data._id;

          const socket = io(`http://127.0.0.1:3000`, {
            withCredentials: true,
            extraHeaders: {
              access_token: accessToken,
              session_id: sessionId,
            },
            query: {
              item_id: itemId,
              room_id: roomId,
            },
          });

          socket.on('connect', () => {
            console.log('웹소켓 연결 완료.');
          });

          socket.on('join', (data) => {
            showMessage(data);
          });

          socket.on('leave', (data) => {
            showMessage(data);
          });

          socket.on('message', async (data) => {
            showMessage(data);
            console.log(data);
            await showBidStatus();
          });

          socket.on('disconnect', () => {
            console.log('웹소켓 연결 해제');
          });

          socket.on('error', (error) => {
            if (error && error.message) {
              if (error.message.startsWith('No room')) {
                showError('경매방이 존재하지 않습니다!');
                console.error('Room error:', error.message);
              } else if (error.message.startsWith('No item')) {
                showError('상품이 존재하지 않습니다!');
                console.error('Item error:', error.message);
              } else if (error.message.startsWith('Error joining')) {
                showError('경매방 입장 중 오류가 발생했습니다!');
                console.error('Joining error:', error.message);
              } else if (error.message.startsWith('Error leaving')) {
                showError('경매방 퇴장 중 오류가 발생했습니다!');
                console.error('Leaving error:', error.message);
              } else if (error.message.startsWith('Error sending')) {
                showError('입찰 중 오류가 발생했습니다!');
                console.error('Messaging error:', error.message);
              } else {
                showError('오류가 발생했습니다!');
                console.error('Generic error:', error.message);
              }
            }
          });

          sendButton.onclick = async function () {
            if (socket.connected) {
              const messageContent = messageBox.value.trim();

              if (isNumeric(messageContent)) {
                const bid = await getHighestBid(itemId);
                const price = bid.price;

                if (messageContent < initialBid) {
                  showError('최저 입찰가보다 높은 입찰만 가능합니다!');
                  return;
                }

                if (price >= messageContent) {
                  showError('최고 입찰가보다 높은 입찰만 가능합니다!');
                  return;
                }

                socket.emit('message', {
                  content: messageContent,
                  sessionId: sessionId,
                  itemId: itemId,
                  roomId: roomId,
                });
              } else {
                showError('숫자만 입력할 수 있습니다!');
              }
            } else {
              showError('실시간 연결이 되어있지 않습니다!');
            }
          };

          leaveButton.onclick = function () {
            if (socket.connected) {
              socket.emit('leave', { roomId });
            }

            window.history.back();
          };
        } catch (error) {
          showError('경매방이 존재하지 않습니다!');
          console.error('Room error: No room for this item found.');
        }
      }

      showBidStatus();
      if (accessToken && sessionId) {
        manageSocket(itemId);
      }
    </script>
  </body>
</html>
