<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
  </head>
  <body>
    <h1>회원가입</h1>
    <form id="signup-form">
      <label for="name">이름</label>
      <input type="text" id="name" name="name" required /><br /><br />

      <label for="email">이메일</label>
      <input type="email" id="email" name="email" required /><br /><br />

      <label for="password">비밀번호:</label>
      <input
        type="password"
        id="password"
        name="password"
        required
      /><br /><br />

      <input type="submit" value="회원가입" />
    </form>

    <!-- Placeholder for the error message -->
    <p id="error-message"></p>

    <script>
      document
        .getElementById('signup-form')
        .addEventListener('submit', function (event) {
          event.preventDefault();
          const name = document.getElementById('name').value;
          const email = document.getElementById('email').value;
          const password = document.getElementById('password').value;

          // Clear any existing error message
          const errorMessage = document.getElementById('error-message');
          errorMessage.textContent = '';

          fetch('/auth/signup', {
            method: 'POST',
            body: JSON.stringify({ name, email, password }),
            headers: {
              'Content-Type': 'application/json',
            },
          }).then((res) => {
            if (res.status === 201) {
              window.location.href = 'index.html';
            } else if (res.status === 400) {
              errorMessage.textContent =
                '이름은 적어도 세 개의 한글 문자(가-힣), 유효한 이메일 주소 형식(예: example@example.com), 비밀번호는 8자에서 15자 사이여야 하며, 하나의 소문자, 대문자, 숫자, 특수 문자 (!@#$%^&*)를 포함';
            } else if (res.status === 409) {
              errorMessage.textContent = '이미 사용 중인 이메일.';
            } else {
              errorMessage.textContent = '오류 발생.';
            }
          });
        });
    </script>
  </body>
</html>
